<div class="form">
  <% form_for(user_form) do |f| %>
  <%= f.error_messages %>
  <fieldset class="user">
    <legend>
      New User
    </legend>
    <p>
      <%= f.label :name %>
      <br/>
      <%= f.text_field :name %>
    </p>
    <p>
      <%= f.label :password, 'Password' %>
      <br/>
      <%= f.password_field :password %>
    </p>
    <p>
      <%= f.label :password_confirmation, 'Retype password' %>
      <br/>
      <%= f.password_field :password_confirmation %>
    </p>
    <p>
      <%= f.submit button_text %>
    </p>
  </fieldset>
  <% end %>
</div>