<div class="form">
  <%= form_for(@user, :html => {:class => "userform"}) do |f| %>
    <% if @user.errors.any? %>
      <div id="errorExplanation">
        <h1>There were some problems with your account settings</h1>
        <p>Sorry, but we couldn't create your account. Please fix the following problems and try again.</p>
        <ul>
          <% @user.errors.full_messages.each do |msg| %>
            <li><%= msg %></li>
          <% end %>
        </ul>
      </div>
    <% end %>
  <fieldset>
    <legend>
      New User
    </legend>
    <p>
      <%= f.label :name, 'Name:' %>
      <%= f.text_field :name %>
    </p>
    <p>
      <%= f.label :password, 'Password:' %>
      <%= f.password_field :password %>
    </p>
    <p>
      <%= f.label :password_confirmation, 'Retype password:' %>
      <%= f.password_field :password_confirmation %>
    </p>
		<p>
			<%= f.label :email, "E-mail address:" %>
			<%= f.email_field :email %>
    </p>    
		<p>
      <%= check_box_tag :remember_me, true, :name => "remember_me" %>
      <%= label_tag :remember_me, "Remember my login on this computer (for #{User.cookie_timeout} days)", :class => "checkLabel"%>
		</p>
		<div>
			<%= f.check_box :contact_me %>
			<%= f.label :contact_me, 'Email me with important announcements', :class => "checkLabel"%>
			<div id="explain_contact">
				<%= image_tag "question.jpg" %>
				<div id="contact_explanation">
					Stay informed about major updates to the free-dom server. We will only use this to contact you about new versions and items of similar importance.
				</div>
			</div>
		</div>
    <p>
      <%= f.submit "Create" %>
    </p>
  </fieldset>
  <% end %>
</div>

<%= link_to 'Back', games_path %>