<div class="userform loginform">
  <%= form_tag do %>
  <fieldset>
    <legend>
      Password Reset
    </legend>
		<p class="pad-under">
			Please enter your username to have a new password emailed to you.
		</p>
    <p>
      <%= label_tag :name, "Name:" %>
      <%= text_field_tag :name, params[:name] %>                     
    <div>
      <%= submit_tag "Reset Password" %>
    </div>
  </fieldset>
  <% end %>
</div>
<p>
  Don't have an account yet? <%= link_to "Register here!", new_user_path -%>
</p>