<% control_form(control) %>

<tr>
<% if control[:on_update] %>
  <%= javascript_tag do %>
    changed_<%= control.object_id -%> = function (){
      <%= raw send(control[:on_update], control) %>
    }
  <% end %>
<% end %>
<% control[:cards].each_with_index do |card_ctrl, ix| -%>
  <td>
    <% if card_ctrl -%>
      <% case control[:type]
         when :button -%>
          <%= button_tag(control[:text], :type => 'submit',
                                         :name => 'card_index',
                                         :value => ix,
                                         :form => "form_#{control.object_id}",
                                         :disable_with => control[:text]) %>
      <% when :two_d_radio -%>
        <% control[:options].each_with_index do |opt, optix| -%>
          <%= radio_button_tag(:choice, "#{ix}.#{optix}", false,
                               :onclick => ("changed_#{control.object_id}()" if control[:on_update]),
                               :form => "form_#{control.object_id}") -%><%= h opt -%><br/>
        <% end %>
      <% when :latin_radio -%>
        <% control[:options].each_with_index do |opt, optix| %>
          <%= radio_button_tag("choice[#{ix}]",
                               "#{optix}",
                               false,
                               "data-rowid".to_sym => "#{optix}",
                               :class => "latin-radio",
                               :onclick => ("changed_#{control.object_id}()" if control[:on_update]),
                               :form => "form_#{control.object_id}") -%> <%= h opt %><br />
        <% end %>
        <%= javascript_tag do %>
          $('.latin-radio').on('click', function()
            {
              $('input[data-rowid=' + $(this).data('rowid') + ']').not($(this)).prop('checked', false);
            });
        <% end %>
      <% when :checkboxes -%>
        <%= check_box_tag(control[:name] + "[]", ix, nil,
                          :id => "#{control.object_id}_#{ix}",
                          :onclick => ("changed_#{control.object_id}()" if control[:on_update]),
                          :"data-js" => (control[:data][ix] if control[:data]),
                          :form => "form_#{control.object_id}") -%>
        <%= label_tag("#{control.object_id}_#{ix}", control[:choice_text]) -%>
      <% end -%>
    <% end %>
  </td>
<% end %>
<% if (control[:type] != :button) || control[:nil_action] || control[:on_update]-%>
  <td>
    <% case control[:type]
       when :button -%>
      <% if control[:nil_action] %>
        <%= submit_tag(control[:nil_action],
                        :name => "nil_action",
                        :form => "form_#{control.object_id}",
                        :disable_with => control[:nil_action]) %>
      <% end %>
    <% when :two_d_radio, :latin_radio -%>
      <% if control[:nil_action] -%>
        <%= radio_button_tag(:choice, "nil_action", true,
                             :form => "form_#{control.object_id}") -%><%= h control[:nil_action] -%><br/>
      <% end -%>
      <%= submit_tag(control[:text],
                     :form => "form_#{control.object_id}",
                     :disable_with => control[:text])%>
    <% when :checkboxes -%>
      <%= submit_tag(control[:button_text],
                     :form => "form_#{control.object_id}",
                     :disable_with => control[:button_text])%>
    <% end -%>

    <% if control[:on_update] %>
      <span id='<%= control.object_id.to_s + "_js" -%>'></span>
      <%= javascript_tag do %>
        <%= "changed_#{control.object_id}()" %>
      <% end %>
    <% end %>
  </td>
<% end -%>
</tr>