<% player_private.reload %>
<div class="playerMain">
<table class="player">
  <tr>
    <th>Playing as:</th><td><%= h player_private.name -%></td>
  </tr>
  <% if not player_private.active_actions.empty? -%><tr>
    <th>Waiting for you to:</th>
    <td><%= h(player_private.active_actions.reject{|a| a.text.nil? or a.text.empty?}.map {|a| a.text}.join(', ')) %></td>
  </tr><% end %>
  <tr>
    <th>Deck:</th>
    <td>
      <%= h player_private.cards.deck.length -%> cards
    </td>
  </tr><tr>
    <th>Hand:</th>
    <% if (!player_private.cards.hand.empty?) or (not controls[:hand].empty?) -%>
      <td>
        <table class="hand">
          <tr>
            <%= render :partial => 'card', :collection => player_private.cards.hand -%>
          </tr>
          <%= render :partial => 'control', :collection => controls[:hand] -%>
        </table>
      </td>
    <% else -%>
      <td>None</td>
    <% end -%>
  </tr>
  <% if !player_private.cards.in_play.empty? -%><tr>
    <th>In Play:</th>
    <td>
      <table class="hand">
        <tr>
          <%= render :partial => 'card', :collection => player_private.cards.in_play -%>
        </tr>
      </table>
    </td>
  </tr><% end -%>
  <tr>
    <th>Discard:</th><td>
      <%= if !player_private.cards.in_discard.empty?
          h player_private.cards.in_discard.join(', ')
        else
          h 'None'
        end -%></td>
  </tr>
  <% if (!player_private.cards.enduring.empty?) || (!controls[:durations].empty?) -%>
    <tr>
      <th>Durations:</th>
      <td>
        <table class="hand">
          <tr>
            <%= render :partial => 'card', :collection => player_private.cards.enduring -%>
          </tr>
        </table>
      </td>
    </tr>
  <% end %>
  <% if (!player_private.cards.revealed.empty?) or
        (!controls[:revealed].select {|c| c[:player_id] == player_private.id}.empty?) -%>
      <tr>
      <th>Revealed:</th><td>
          <table class="revealed">
             <tr>
              <%= render :partial => 'card', :collection => player_private.cards.revealed -%>
            </tr>
            <%= render :partial => 'control',
                 :collection => controls[:revealed].select {|c| c[:player_id] == player_private.id} -%>
          </table>
        </td>
      </tr>
  <% end -%>
  <% if (!player_private.cards.peeked.empty?) ||
        (!controls[:peeked].empty?) -%>
      <tr>
      <th>Looked at:</th><td>
          <table class="hand peeked">
            <tr>
              <%= render :partial => 'card', :collection => player_private.cards.peeked -%>
            </tr>
            <%= render :partial => 'control',
                 :collection => controls[:peeked] -%>
          </table>
        </td>
      </tr>
  <% end -%>
  <% if !player_private.cards.of_type("Seaside::PirateShip").empty?%>
    <tr><th>Pirate Coins:</th><td><%= player_private.state.pirate_coins %></td></tr>
  <% end %>
  <% if player_private.score && player_private.score != 0 %>
      <tr class="scoreRow"><th>Score:</th><td><%= player_private.score %></td></tr>
    <% end %>
  <% if not player_private.cash.nil? %>
    <tr><td>&nbsp;</td></tr>
    <tr>
      <th>Actions:</th><td><%= h player_private.actions -%></td>
    </tr>
    <tr>
      <th>Buys:</th><td><%= h player_private.buys -%></td>
    </tr>
    <tr>
      <th>Cash:</th><td><%= h player_private.cash -%></td>
    </tr>
  <% end -%>

  <% if !controls[:player].empty? -%>
   <td colspan="2"><table>
    <% controls[:player].each do |control| -%>
      <% control_form(control) %>
      <tr>
      <% case control[:type]
            when :buttons -%>
          <td><%= control[:label] %></td>
          <% control[:options].each do |opt| %>
            <td>
                <% key = opt.keys.detect{|k| k != :text} %>
                <%= button_tag opt[:text], :type => 'submit',
                                           :name => key,
                                           :value => opt[key],
                                           :form => "form_#{control.object_id}",
                                           :disable_with => opt[:text] -%>
            </td>
          <% end %>
        <% when :checkboxes -%>
          <td>
            <table class="choices">
              <tr>
                <th colspan="<%= control[:choices].length -%>"><%= h control[:label] -%></th>
              </tr>
              <tr>
                <% control[:choices].each_with_index do |choice, ix| %>
                  <td>
                    <%= check_box_tag(control[:name] + "[]", ix, false,
                                      :id => "#{control.object_id}_#{ix}",
                                      :form => "form_#{control.object_id}") -%>
                    <%= label_tag("#{control.object_id}_#{ix}", choice) -%>
                  </td>
                <% end %>
                  <td>
                    <%= submit_tag(control[:button_text],
                                   :form => "form_#{control.object_id}",
                                   :disable_with => control[:button_text])%>
                  </td>
              </tr>
            </table>
          </td>
        <% when :dropdown -%>
          <td>
            <%= control[:label] %>
            <%= select_tag(control[:name], options_for_select(control[:choices], control[:selected]),
                           :id => "#{control.object_id}_#{control[:name]}",
                           :form => "form_#{control.object_id}") %>
            <%= submit_tag(control[:button_text],
                                   :form => "form_#{control.object_id}",
                                   :disable_with => control[:button_text]) %>
          </td>
        <% end -%>
      </tr>
    <% end -%>
   </table></td>
  <% end -%>
</table>
</div>
<% set_aside = set_aside_area(player_private, false) %>
    <% if set_aside != "" %>
      <div class="setAside"><table class="player"><%= raw set_aside %></table></div>
    <% end %>