<div id="nav">
  <h2 class="inline">Games</h2>
  <h2 class="right"><%= link_to 'View User Rankings', users_path%></h2>
</div>
<div id="game_list">
  <table>
    <tr>
      <th>Name</th>
    <th>Max Players</th>
      <th>Players</th>
    <th>State</th>
    <th id="blank_th"/>
    </tr>

  <% @games.each_with_index do |game, ix| %>
    <% css_class = game.state %>
    <% css_class += (ix % 2 == 0 ? ' rowEven' : ' rowOdd') %>
    <tr class="<%= css_class %>">
      <td><%=h game.name %></td>
      <td>
        <% if game.state == "waiting" -%>
          <%= h game.max_players -%>
        <% else -%>
          <%= h game.players.length -%>
        <% end -%>
      </td>
      <td>
        <% if game.state == 'running' %>
          <% ply_list = game.players.map do |p|
             str = ""
             str += "<span class='bold'>" unless p.active_actions.empty?
             str += p.name
             str += "</span>" unless p.active_actions.empty?
             str
           end.join(', ') %>
          <%= raw ply_list %>
        <% elsif game.state == 'ended' %>
          <% ply_ordered = game.players.sort_by {|p| p.score}.reverse %>
          <span class="bold"><%= h ply_ordered[0].name %> (1st)</span><% ply_ordered[1..-1].each_with_index do |p, ix| -%>
<%= h ", " + p.name + " (#{(ix+2).ordinalize})" -%>
<% end -%>
        <% else %>
          <%=h game.players.map{|p| p.name}.join(', ') %>
        <% end %>
      </td>
      <td><%= h game.state.capitalize -%></td>
      <td><%= link_to 'Watch', watch_game_path(game) %></td>
      <% if session[:user_id] %>
        <td><%= button_to 'Join', join_game_path(game) %></td>
        <% if ((@user && @user.name == 'Chowlett') || request.host == '127.0.0.1') %>
          <td><%= button_to 'Destroy', game, :confirm => 'Are you sure?', :method => :delete %></td>
        <% end %>
      <% end %>
    </tr>
  <% end %>
  </table>
</div>
<br />

<% if session[:user_id] %>
  <div id="bob"><%= link_to('New game', new_game_path) %></div>
<% else %>
  You must <%= link_to "login", login_path -%> or <%= link_to "register", new_user_path -%> to start or join a game
<% end %>
