<script type='text/javascript'>  
  function show_hide_selects()
  {
    var chkbox = $('game_random_select')
    var seldiv = $('card_selects')
    
    if (chkbox.checked && seldiv.visible())
    {
      Effect.BlindUp('card_selects', {duration: 0.5, afterFinish: function() {
        Effect.BlindDown('random_options', {duration: 0.5})}});
    }
    else if (!chkbox.checked && !seldiv.visible())
    {
      Effect.BlindUp('random_options', {duration: 0.5, afterFinish: function() {
        Effect.BlindDown('card_selects', {duration: 0.75})}});
    }
  }   
  
  function show_hide_distr()
  {
    var chkbox = $('game_specify_distr')
    var distdiv = $('set_distr')
    
    if (!chkbox.checked && distdiv.visible())
    {
      Effect.BlindUp('set_distr', {duration: 0.5, afterFinish: function(){
        Effect.BlindDown('set_presence', {duration: 0.5})}});
    }
    else if (chkbox.checked && !distdiv.visible())
    {
      Effect.BlindUp('set_presence', {duration: 0.5, afterFinish: function() {
        Effect.BlindDown('set_distr', {duration: 0.5})}});
    }
  }  
  
  var choices = new Array();
  
  Event.observe(window, 'load', function() {
    for (i = 1; i <= 10 ; i++)
    {
      target = $('card_text_' + i);
      value = $('game_pile_' + i).value;
      choices[i] = value;
      target.innerHTML = card_dict[value];
    }
  });
  
  function update_card_text(index) {
    var target_str = 'card_text_' + index;
    var target = $('card_text_' + index);
    var value = $('game_pile_' + index).value;
    if (value != choices[index]) {
      choices[index] = value;
      new Effect.Fade(target, {
        duration: 0.2,
        afterFinish: function(){        
            target.innerHTML = card_dict[value];
            new Effect.Appear(target, {duration: 0.2});
        }
      });
    }    
  }   
</script>
<div class="form">
  <% tweaking = false 
  if @game.random_select == 'tweak' 
    @game.random_select = "0"
    tweaking = true
  end %>
  <%= form_for @game do |f| %>
    <% if @game.errors.any? %>
      <div id="errorExplanation">
        <h1>There were some problems with your Game</h1>
        <p>Sorry, but we couldn't create your Game. Please fix the following problems and try again.</p>
        <ul>
          <% @game.errors.full_messages.each do |msg| %>
            <li><%= msg %></li>
          <% end %>
        </ul>
      </div>
    <% end %>
  <fieldset>
    <legend>
      <%= tweaking ? 'Adjust kingdom cards' : 'New Game' %>
    </legend>
    <div class="field">
      <%= f.label :name %>
      <br/>
      <%= f.text_field :name %>
    </div>
    <div class="field">
      <%= f.label :max_players, "Maximum number of players" %>
      <br/>
      <%= f.select(:max_players, [2,3,4,5,6]) %>
    </div>
    <div class="field">
      <%= f.label :random_select, (tweaking ? "Generate another random set of Kingdom Cards" : "Select Kingdom Cards randomly?") %>
      <%= f.check_box :random_select, {:onclick => "show_hide_selects()"} %>
    </div>
    <div id="card_selects" style=<%= (@game.random_select == 1) ? "'display: none;'" : "" %> >
      <table>
        <% (1..10).each do |ix| %>
        <tr class='row<%= (ix % 2 == 0) ? "Even" : "Odd" -%>'>
          <td class="pileLabel">
            <%= f.label "pile_#{ix}", "Kingdom card #{ix}: " %>
          </td>
          <td>
          	<div class="field">
	           <%= f.grouped_collection_select("pile_#{ix}", 
	                                           [BaseGame, Intrigue, Seaside, Prosperity],
	                                           :kingdom_cards,
	                                           :name,
	                                           :name,
	                                           :readable_name_with_cost,
	                                           {}) %>
	        </div>
          </td>                                 
          <td class="cardText">
            <div id='<%= "card_text_#{ix}"%>'>
            </div>
          </td>                               
           <%= javascript_tag do %>
             Event.observe('<%= "game_pile_#{ix}" %>', 'change', function(){update_card_text(<%= ix %>)})
             Event.observe('<%= "game_pile_#{ix}" %>', 'keyup', function(){update_card_text(<%= ix %>)}); 
                                                   
           <% end %>                                                     
        </tr>
        <% end %>
      </table>
    </div>
    <div id="random_options" style=<%= (@game.random_select == 1) ? "" : "'display: none;'" %>>
      <%= f.label :specify_distr, "Specify set distibution?" %>
      <%= f.check_box :specify_distr, {:onclick => "show_hide_distr()"} %>
      <div id="set_distr" style=<%= (@game.specify_distr == 1) ? "" : "'display: none;'" %>>
        <p class="indented-left underlined">Set distribution:</p>
        <table>
          <% ['Base Game', 'Intrigue', 'Seaside', 'Prosperity'].each do |set| %>
            <tr>
              <td>
              	<div class="field">
                	<%= f.label "num_#{set.parameterize('_')}_cards", "Number of #{set} cards: " %>
            	</div>
              </td>
              <td>
              	<div class="field">
                	<%= f.select "num_#{set.parameterize('_')}_cards", 0..10 %>
            	</div>
              </td>
            </tr>
          <% end %>
        </table>
      </div>
      <div id="set_presence" style=<%= (@game.specify_distr == 0) ? "" : "'display: none;'" %>>
        <p class="indented-left underlined">Sets to use:</p>
        <table>
          <% ['Base Game', 'Intrigue', 'Seaside', 'Prosperity'].each do |set| %>
            <tr>
              <td>
              	<div class="field">
                	<%= f.label "#{set.parameterize('_')}_present", "Include #{set}? " %>
        		</div>
              </td>
              <td>
              	<div class="field">
                	<%= f.check_box "#{set.parameterize('_')}_present" %>
            	</div>
              </td>
            </tr>
          <% end %>
        </table>
      </div>
    </div>
    <div id="plat_colony">
      Include Platinum and Colony? <br/>
      <div class="field">
	      <%= f.radio_button :plat_colony, "rules", :id => "game_plat_col_rules" %> <%= f.label "plat_col_rules", "At random, in proportion to number of Prosperity cards present (as in rules)" %><br/>
	      <%= f.radio_button :plat_colony, "yes", :id => "game_plat_col_yes" %> <%= f.label "plat_col_yes", "Yes" %><br/>
	      <%= f.radio_button :plat_colony, "no", :id => "game_plat_col_no" %> <%= f.label "plat_col_no", "No" %><br/>
      </div>
    </div>
    <div>
      <%= f.submit 'Create' %>
    </div>
  </fieldset>
  <% end %>
</div>
<%= link_to 'Back', games_path %>
