<% if @player %>
  <div id="playerPrefsHover">
    <span>Adjust Game Settings</span>
    <div id="playerPrefs">
      <%= render :partial => "player_settings" %>
    </div>

    <%= javascript_tag do %>
      $('#playerPrefs').on('click', 'input[type=checkbox]', function()
      {
        var data = {};
        var propId = 'settings[' + this.name + ']';
        data[propId] = this.checked;
        $.post('<%= url_for(:action => :update_player_settings, :id => @game) -%>', data);
      });
    <% end %>
  </div>
<% end %>

<h2><%=h @game.name-%></h2>

<div id="game">
  <%= render :partial => 'game', :object => @game, :locals => {:player => @player, :controls => @controls} %>
</div>
<div id="chat">
  <div id="chatbox">
      <%= render :partial => 'chat_line', :collection => @game.chats %>
  </div>
  <%= form_tag({:action => :speak}) do %>
   <div>
    <%= text_field_tag("name", nil, :placeholder => "Name?") if !@user%>
    <%= text_field_tag("say", nil, :placeholder => "What do you want to say?", :autocomplete => 'off') %>
    <%= submit_tag "Say", :class => 'input-hack' %>
   </div>
  <% end %>
</div>

<%= javascript_tag do %>
  $('#chat form').on('submit', function(e)
  {
    $.post($(this).attr('action'), $(this).serialize(), function(){}, "script")
    $(this).find('[name=say]').val("");
    e.stopPropagation();
    e.preventDefault();
  });
<% end %>
