<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="content-type" content="text/html;charset=UTF-8" />
    <title><%= @full_title ? @full_title : ("Dominion - " + (@title ? @title : controller.action_name.capitalize)) -%></title>
    <%= stylesheet_link_tag 'application' %>
    <%= javascript_include_tag "application" %>
    <%= favicon_link_tag %>

    <%= javascript_tag do %>
      <%= "var AUTH_TOKEN = '#{form_authenticity_token}';".html_safe if protect_against_forgery? %>

      <%= content_for :js_in_head %>

      if (typeof(onLoadFunc) != "undefined")
        $(onLoadFunc);

    <% end %>
  </head>
  <body>

    <div id="userInfo">
      <% if session[:user_id].nil? %>
        Welcome, Guest. Please <%= link_to "login", login_path -%> or <%= link_to "register", new_user_path -%>
      <% else %>
        <% user = User.find(session[:user_id]) %>
        Welcome, <%= user.name -%> | <%= link_to_unless_current "Preferences", settings_path -%> | Not <%= user.name-%>? Please <%= link_to "logout", logout_path -%>
      <% end %>
    </div>

    <div id="contentWrap">
      <%= link_to(games_path, :id => "siteLogo") do %>
        <h1>FreeDom</h1>
        <h2>Free Dominion Game Server</h2>
      <% end %>
      <div id="flash">
        <%= render :partial => 'flash_area' -%>
      </div>
      <div id="mainContent">
        <%= yield %>
      </div>
    </div>

    <div id="footer">
      <%= link_to "Home", games_path %> | <%= link_to "About", about_path%> | <%= link_to "Feedback", contact_path %>
    </div>
  </body>
</html>
